@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<WebSeeSharpers.Models.Viewing>
@inject IViewLocalizer localizer;

@{
    ViewData["Title"] = "FilmsTijden";
}
<div class="text-center">

    <h1 class="display-4">@localizer["Movie times"]</h1>
    <h2>@localizer["Choose movie"]</h2>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card bg-black text-white col-3 mx-2 p-2" style="width: 16rem;">
                <img src="@Html.DisplayFor(modelItem => item.Movie.Thumbnail)" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Movie.Title)</h5>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-black text-white">@Html.DisplayFor(modelItem => item.StartDateTime)</li>
                    <li class="list-group-item bg-black text-white">@localizer["Room number"] @Html.DisplayFor(modelItem => item.Theatre.Number)</li>
                    <li class="list-group-item bg-black text-white">
                        <a asp-controller="SeatSelection" asp-action="Index" asp-route-viewingId="@item.Id" class="btn btn-info">@localizer["Order tickets"]</a>
                    </li>
                </ul>

            </div>
        }
    </div>
</div>