@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http;

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions


@model IEnumerable<WebSeeSharpers.Models.Movie>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h2>Nu in de bioscoop</h2>
    
    @Html.ActionLink("Playing from", "Index", new { sortOrder = ViewBag.DateSortParm } )
    @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.NameSortParm } )
    @using (Html.BeginForm())
    {
        <p>
            @Html.TextBox("SearchString")  
            <input type="submit" value="Search" /></p>
    }
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card bg-black text-white col-3 mx-2 p-2" style="width: 16rem;">
                <img src="@Html.DisplayFor(modelItem => item.Thumbnail)" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                    
                </div>
                <ul class="list-group list-group-flush">
                    @if (@Context.Request.Cookies[".AspNetCore.Culture"].EndsWith("en")) {
                        <li class="list-group-item bg-black text-white">@Html.DisplayNameFor(model => model.Duration) @Html.DisplayFor(modelItem => item.Duration)</li>}
                    else{
                        <li class="list-group-item bg-black text-white">@Html.DisplayNameFor(model => model.Duration) @Html.DisplayFor(modelItem => item.BeginTime)</li>}

                </ul>
            </div>
        }
    </div>
</div>
